.jumbotron{
  width: 600px;
  text-align: center;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  padding-bottom: 28px;
}

.table{
  margin-top: 20px;
}

.table th{
  background-color: #FF7C78;
  color: white;
}

.table td{
  background: ghostwhite;
}

.table:hover{
  color: black;
}

.form-control{
  margin-bottom: 5px;
}

.selecionado{
  background-color: rgb(26%, 67%, 62%);
}

.negrito{
  font-weight: bold;
}

.alert-danger{
  margin-bottom: 20px;
}

.fa-phone-square:hover{
  color: #FF7C78;
}
