<div class="jumbotron">
  <i class="fa fa-phone-square fa-3x" aria-hidden="true">Agenda telefônica</i>
  <hr/>
  <input class="form-control" type="search"  placeholder="O que está buscando?"/>

  <table class="table table-bordered">
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Tipo</th>
      <!-- <th>ID</th> -->
      <th>Ações</th>
    </tr>
    <tbody>
    <tr *ngFor="let contato of contatos">
      <td><input type="checkbox"></td>
      <td>{{contato.nome}}</td>
      <td>{{contato.telefone}}</td>
      <td>{{contato.email}}</td>
      <td>{{contato.tipo}}</td>
      <td><a class="btn" href="#" data-toggle="modal" data-target="#myModal" (click)="contatoSelecionado(contato)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
        <a class="btn" href="#" (click)="deleteContato(contato)">
        <i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <hr/>
  <form name="contatoForm" class="" #contatoForm="ngForm">
    <input class="form-control" type="text" name="nome" [(ngModel)]="newContato.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
    <input class="form-control" type="text" name="telefone" [(ngModel)]="newContato.telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
    <input class="form-control" type="email" name="emailContato" [(ngModel)]="newContato.email" placeholder="E-mail" ng-required="true"/>
    <input class="form-control" type="text" name="tipo" [(ngModel)]="newContato.tipo" placeholder="Tipo contato. Ex: AMIGO" ng-required="true"/>
    <button class="btn btn-primary btn-block"
            (click)="createContato(newContato); contatoForm.reset()">Adicionar Contato</button>

    <button class="btn btn-danger btn-block" (click)="contatoSelecionado(contato)">Apagar Contatos</button>
  </form>

  <!-- Modal -->
  <!-- line modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="lineModalLabel">Contato - Atualizar</h3>
        </div>
        <div class="modal-body">

          <!-- content goes here -->
          <form name="modalForm" class="" #modalForm="ngForm">

            <input class="form-control" type="text" name="nome"
                   placeholder="Nome" value="{{contato2.nome}}" [(ngModel)]="contato2.nome"/>
            <input class="form-control" type="text" name="telefone"
                   placeholder="Telefone" value="{{contato2.telefone}}" [(ngModel)]="contato2.telefone"/>
            <input class="form-control" type="email" name="emailContato"
                   placeholder="E-mail" value="{{contato2.email}}" [(ngModel)]="contato2.email"/>
            <input class="form-control" type="text" name="tipo"
                   placeholder="Tipo contato. Ex: AMIGO" value="{{contato2.tipo}}" [(ngModel)]="contato2.tipo"/>

            <button class="btn btn-primary btn-block"
                    data-dismiss="modal" (click)="updateContato(contato2)">Atualizar Contato</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
